@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-top-bot {
    background-color: #314569;
    color: #fff;
}

.bg-header {
    background-color: #314569;
}

.bg-principal {
    background-color: #001f3f;
    color: #fff;
}

.bg-feature {
    background-color: #02aeb2;
}

.bg-card {
    background-color: #314569;
}

.logo {
    height: auto;
    width: 165px;
}

.btn-palette {
    background-color: #02aeb2; /* pending */
}

.contact-card {
    background-color: #314569;
}

.wa-title {
    color: #001f3f;
}